[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
matplotlib = "*"
networkx = "*"
d3fdgraph = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
